<!DOCTYPE html> 
<html> 
  
<head> 
    <title>FILE DOWNLOAD</title> 
</head> 
  
<body> 
    <h1>Single File Download Demo</h1> 
   
    <form action="/download" 
      enctype="text/plain" method="get"> 
      
        <span>Enter File name:</span>   
        <input type="text" name="myfilename" required/> <br> 
        <input type="submit" value="submit">  
    </form> 
</body> 
  
</html> 